

.addButton {
    width: 200px;
    height: 300px;
    border-radius: 4px;
    display: flex;
    background-color: brown;
    font-size: large;
    justify-content: center;
    align-items: center;
}


.taskStyles {
    width: 50vw;
    height: 50vh;
    background-color: azure;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} 


.home {
    width: 100vw;
    height: 100vh;
    background-color: rgb(244, 244, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
}




.formContainer {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/pexels-sebastian-palomino-933481-1955134.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    
    justify-content: center;
    align-items: center;
}


.loginForm {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    align-items: center;
    box-shadow: .3px .9px 10px rgba(0, 0, 0, 0.333);

}


.loginInput, .submitButton {
    width: 250px;
    border: none;
    color: rgb(255, 255, 255);
    padding: .1em;
    background-color: transparent;
    border-bottom: 1px solid rgb(255, 255, 255);
    height: 35px;
    margin: .6em;
}

.loginInput::placeholder {
    color: rgb(183, 182, 182);
}


.submitButton {
    background-color: brown;
    border: none;
}

.formHeader {
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 1.7em;
}


.noAccount {
    color: white;
    font-size: .9em;
    margin-top: 1em;
    font-weight: 500;
}

/* 
 width: "200px",
              height: "300px",
              backgroundColor: "blue",
              display: "flex",
              justifyContent: "center",
              alignItems: "center",
              flexDirection : 'column' */

.taskContainer {
    width: 200px;
    height: 300px;
    background-color: antiquewhite;
    display: flex;
    border-radius: 4px;
    color: black;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: .3em;
}









